.DS_Store
/.idea
/.vagrant

/frontend/node_modules
/frontend/coverage
/frontend/build
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/backend/composer.phar
/backend/vendor
/backend/app/bootstrap.php.cache
/backend/app/config/parameters.yml
/backend/app/cache
/backend/app/logs
/backend/app/build
/backend/app/data
/backend/web/uploads
/backend/web/bundles
/backend/web/css
/backend/web/style/css
/backend/web/js
/backend/web/fonts